body {
  background-color: #222;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
}

h1, h2, h3 {
  color: #ffcc00;
}

a {
  color: #ffcc00;
}

button {
  background-color: #ffcc00;
  color: #222;
}
